.header {
    background-color: #FFFFFF;
    color: #111827;
    padding: 1rem 2rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #16A34A;
}

h1{
    font-size: 2rem;
    margin: 0;
}