.job-details-container {
    padding: 20px;

    background-color: #f9f9f9;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: white;
}

h1 {
    text-align: center;
    color: #111827;
    margin-bottom: 15px;
}

.save-btn {
    background-color: #EF4444;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #DC2626;
}

.message-btn {
    background-color: #16A34A;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.message-btn:hover {
    background-color: #15803D;
}

